header {
  background: #5b7989;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  animation: slidein 1.5s;
}

header h1 {
  text-align: left;
  text-shadow: 2px 2px #02010a;
}

header ul {
  list-style: none;
  display: flex;
  font-size: 22px;
}

header ul li {
  padding: 0 10px;
}

header a.current {
  text-decoration: none;
}

@keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: block;
  }
  header h1 {
    font-size: 3em;
    text-align: center;
  }
  header ul {
    justify-content: center;;
  }
}